body {
  margin: 0;
  padding: 0;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  
  position: relative;
  /*background-image: url("../img/index-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;*/
}

main{
	position: relative;
}

.visually-hidden:not(:focus):not(:active){
	position: absolute;
	
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;
	
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	position: relative;
	
  width: 1200px;
  margin: 0 auto;
  box-shadow: -3px 0 15px 0 rgba(0, 0, 0, 0.2);
}

.welcome{
	position: relative;
	background-color: #ffffff;
}

.welcome > img:first-child{
	background-color: #4179a4;
}

.welcome > img:nth-child(2){
	position: absolute;
	top: 80px;
	left: 50%;
	transform: translateX(-50%);
}

.welcome > img:last-child{
	position: absolute;
	top: 453px;
	left: 50%;
	transform: translateX(-50%);
}

.inner-page {
  text-align: left;
}
/*c main h1 и h2 будут считаться глобальными стилями ?*/
main h1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  height: 67px;
  /*width: 460px;*/
  vertical-align: center;
  margin: 0 auto;
  padding-top: 55px;
  background-color: #ffffff;
}

main h2 {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
  text-align: center;
  height: 65px;
  vertical-align: bottom;
  margin: 0;
}

.reasons{
	background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation {
	position: relative;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
}

.main-header-logo{
	z-index: 1;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.site-navigation {
	padding: 0;
	margin: 0;
	
	padding-left: 72px;
	padding-top: 14px;
	padding-bottom: 15px;
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.site-navigation > li{
	width: 200px;
}

.site-navigation > li:nth-child(2){
	margin-right: 200px;
}

.site-navigation > li:nth-child(3){
	padding-left: 20px;
	width: 150px;
}

.site-navigation > li:last-child a{
	margin: 0;
	padding: 0;
    padding-left: 50px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover, .site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.2;
}

/*--- Стили главной страницы ---*/

.features-with-photos {
  display: flex;
  background-color: #81b3d2;
  
  height: 256px;
}


.features-item-description {
  width: 400px;
  text-align: center;
  /*padding-left: 60px;
  /*padding-right: 60px;
  padding-top: 40px;*/
}

.features-item-description h2 {
  margin: 0 auto;
  font-size: 21px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  
  width: 150px;
  
  padding-top: 50px;
  line-height: 21px;
}

.features-item-description span, .features-item-description p {
  color: #ffffff;
  font-weight: normal;
  line-height: 1;
  /*из макета в фотошопе не могу достать высоту строки, в стайлгайде тоже нет*/
}

.features-item-description p{
	padding-top: 18px;
	line-height: inherit;
	letter-spacing: 0;
	width: 320px;
	margin: 0 auto;
}

.features-item-photo {
  width: 800px;
}

.gallery-content{
	margin: 0;
}

.subfeatures-list {
	padding: 0;
	margin: 0;
  display: flex;
  list-style: none;
  
  padding-bottom: 63px;
  background-color: #ffffff;
}

.subfeature-item {
  background-color: #ffffff;
  width: 400px;
  padding-top: 57px;
  padding-bottom: 20px;
}

.subfeature-item h2 {
	margin: 0;
  font-size: 21px;
  text-align: center;
  color: #000000;
  font-weight: bold;
  padding-top: 25px;
  height: 45px;
}

.subfeature-item p {
	margin: 0;
  font-size: 14px;
  text-align: center;
  color: #333333;
  font-weight: normal;
  
  width: 290px;
  padding-left: 55px;
}

.rest-of-features-list {
	margin: 0;
	padding: 0; 
	
	display: flex;
	list-style: none;
}

.rest-of-features-item {
	padding-top: 45px;
	background-color: #eeeeee;
	width: 400px;
}

.rest-of-features-item-description{
	text-align: center;
}

.rest-of-features-item-description h2 {
	width: 125px;
	margin: 0 auto;
  text-align: center;
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  line-height: 21px;
}
.rest-of-features-item-description p{
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 60px;
	width: 280px;
  /*для спана выравнивание не работает, почему ?*/
  text-align: center;
  font-size: 14px;
  color: #333333;
  font-weight: normal;
}

.booking {
  background-color: #ffffff;
 
}

.booking h2 {
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  line-height: 26px;
  margin: 0 auto;
  padding-top: 52px;
  height: 60px;
}

.booking-info {
  text-align: center;
  font-size: 14px;
  color: #333333;
  font-weight: normal;
  margin: 0 auto;
  width: 440px;
  background-color: #ffffff;
}

.booking form{
	margin: 0 auto;
}

.booking-form-header a {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
  font-weight: 600;
}

.booking-form-header a:hover {
  background-color: #604e43;
}

.booking-form-header a:active {
  opacity: 0.5;
  /*тут сомневаюсь*/
}

.booking-item label {
  color: #000000;
}

.booking-item input {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #000000;
}

.booking-item input:hover {
  background-color: #ebebeb;
}

.booking-item input:focus {
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
}

.button {
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  background-color: #81b3d2;
  border: none;
}

.button:hover {
  background-color: #669ec0;
}

.button:focus {
  background-color: #5496bd;
  opacity: 0.5;
}

/* --- Стили внутренней страницы ---*/

.filters{
	position: relative;
	line-height: 1;
}

.filter{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-start;
	
	position: absolute;
	top: 27px;
	left: 50%; 
	transform: translateX(-50%);
	
	width: 1055px;
}


.filter-range {
  width: 330px;
  margin: 0 auto; /* для демо */

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;
  
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  
  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

/*.price{
	margin-left: 260px;
	display: flex;
	flex-direction: column;
}
.price > * {
	height: 40px;
}*/

.filter fieldset {
  padding: 0;
  margin: 0;
  
  width: 250px;
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff; 
  margin-bottom: 15px;
}

.filter ul {
	padding: 0;
  list-style: none;
  line-height: 18px;
}

.filter li{
	color: #ffffff; 
	margin-bottom: 15px;
}

.filter img{
	margin-right: 20px;
}

label{
	color: #ffffff;
}
/*вот это дело не работает*/

.filter-input:hover+label, .filter-input:focus+label {
  color: #000000;
}

.filter-input:disabled+label {
  color: #000000;
  opacity: 0.5;
}

.filter-input-checkbox:checked{
	background: url("../img/checkbox-on.svg") 0 0 no-repeat;
}

.filter-button {
  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter-button:hover {
  color: #000000;
  background-color: #ffffff;
  font-weight: normal;
  font-size: 14px;
}

.result-filter{
	padding: 0;
	margin: 0;
	
	padding-left: 70px;
	padding-top: 30px;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	
	height: 55px;
	background-color: #ffffff;
	/*иначе как этим маргином не выход отлепить флекс-элементы от правого края контейнера*/
	/*видимо, надо поколдовать с justify-content или align-items, но у меня не получилось магии*/
}

.result-filter h1{
	padding: 0;
	margin: 0; 
	
	width: 230px;
	margin-right: 10px;
	text-align: left;
}


.result-filter h2{
	padding: 0;
	margin: 0;
	
	margin-right: 30px;
	width: 90px;
}

.sequencing-attribute-list {
	padding: 0;
	margin: 0;
	
	display: flex;
	list-style: none;
	width: 100%;
}

.sequencing-attribute-list-item{
	width: 110px;
}

.sequencing-attribute-list-item a {
  color: #000000;
  opacity: 0.5;
  border-bottom: 1px dotted #81b3d2;
}

.sequencing-attribute-list-item a:hover {
  color: #81b3d2;
  opacity: 1;
}

.sequencing-attribute-list-item a:active {
  border-bottom: none;
  color: #000000;
  opacity: 1;
}

.sequencing-item a {
  color: #000000;
  opacity: 0.5;
}

.sequencing-item a:hover {
  color: #000000;
  opacity: 1;
}

.sequencing-item a:active {
  color: #81b3d2;
}

.sequencing-list {
	padding: 0;
	margin: 0;
	width: 100px;
	display: flex;
  list-style: none;
}

.sequencing-item{
	width: 40px;
	font-size: 0;
	background: url("../img/icon-up-dir.svg") 0 0 no-repeat;
}

.sequencing-item-current{
	width: 40px;
	font-size: 0;
	background: url("../img/icon-down-dir.svg") 0 0 no-repeat;
}

.catalog-list {
	padding: 0;
	margin: 0;
	
	display: flex;
	flex-direction: column;
  list-style: none;
}

.catalog-item{
	height: 150px;
	background-color: #ffffff;
	padding: 0 72px;
	border-top: 1px solid #e5e5e5;
	display: flex;
	justify-content: space-between;
}

.catalog-item:last-child{
	border-bottom: 1px solid #e5e5e5;
}

.catalog-item-image{
	margin: 0;
	
	padding-top: 30px;
	padding-bottom: 30px;
	
	width: 135px;
}

.catalog-item-info{
	width: 100%;
	margin-left: 30px;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}

.catalog-item-name{
	margin: 0;
	height: 46px;
	text-align: left;
	
	padding-top: 25px;
}

.catalog-item-name a {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

.catalog-item-name a:hover {
  color: #81b3d2;
}

.catalog-item-name a:active {
  color: #000000;
  opacity: 0.5;
}

.catalog-item-type-price{	
	display: flex;
	justify-content: flex-start;
	
	height: 100px;
}

.catalog-item-type-price h2{
	margin: 0;
	padding-right: 35px;
	font-size: 14px;
}

.catalog-item-buttons{
	padding-top: 3px;
	height: 100%;
}

.catalog-item-buttons .button{
	width: 110px;
}

.catalog-item-buttons .more-info {
  color: #ffffff;
  background-color: #81b3d2;
  padding: 5px 15px;
  font-size: 14px;
  
}

.more-info:hover {
  background-color: #669ec0;
}

.more-info:active {
  background-color: #5496bd;
}

.catalog-item-buttons .book {
  background-color: #766357;
  color: #ffffff;
  padding: 5px 15px;
  font-size: 14px;
}

.book:hover {
  background-color: #604e43;
}

.book:active {
  /*background-color: #503e33;*/
  /*как сделать прозрачность только для текста, а не для кнопки в целом ? нужен отдельный класс*/
  background-color: rgba(80, 62, 51, 0.5);
}

.rating{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	
	height: 50px;
	width: 260px;
}
.stars{
	display: flex;
	flex-direction: row;
}
.star{
	background: url("../img/star.svg") no-repeat;
	margin: 15px 15px;
	padding: 15px 15px;
	outline: 1px solid red; 
}

/*.rating img{
	padding-top: 30px;
}*/

.rate{
	margin: 0;
	margin-top: 45px;
	background-color: #f2f2f2; /*не могу задать цвет фона для рейтинга, хотя вроде как применяю свойство к контейнеру*/
}

/*--- продолжение стилей главной страницы --- */

.booking{
	position: relative;
}


.booking-form-header{
	margin: 10px 0 0;		
	display: block;
	text-align: center;
}

.booking-form-header a{
	padding: 30px 138px;
display: block;
width: 569px;
box-sizing: border-box;
margin: 0 auto
}

.booking-form{
	z-index: 1;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	
	width: 569px;
	background-color: #ffffff;
}

.booking-item{
	margin-left: 55px;
	position: relative;
}

.booking-item:first-child{
	margin-top: 55px;
}

.booking-item label{
	font-weight: bold;
	margin-right: 17px;
}

.booking-item input:first-child{
	margin-left: 2px;
}

/*этот прием не работает, а жаль*/
/*.booking-item label:first-child{
	margin-right: 2px;
}*/

.booking-item input[type="text"]{
	height: 40px;
	width: 345px;
	padding-left: 10px;
}

.booking-item input[type="number"]{
	margin: 0;
	height: 40px;
	width: 25px;
	text-align: center;
	/*padding-left: 50px;*/
}

.input-wrapper {
  width: 114px;
}


.adult-and-children{
	display: flex;
}

.adult-and-children > .booking-item{
	margin: 0;
}

.adult-and-children > .booking-item{
	margin-left: 55px;
}

.adult-and-children > .booking-item:first-child label{
	margin-right: 35px;
}

.adult-and-children > .booking-item:last-child label{
	margin-right: 27px;
}



.search-form-minus {
  /*width: 24px;
  height: 20px;
  background: url(../img/minus.png) no-repeat 50% 50%;
  top: 50%;
  left: 0px;
  margin-top: -10px;
  font-size: 0;*/
  
  width: 40px;
height: 40px;
position: relative;
padding: 0;
background: #f2f2f2;
border: none;
}

.search-form-plus {
  /*width: 24px;
  height: 20px;
  background: url("../img/plus.png") no-repeat 50% 50%;
  position: absolute;
  top: 50%;
  right: 8px;
  margin-top: -10px;
  font-size: 0;*/
  width: 40px;
height: 40px;
position: relative;
padding: 0;
background: #f2f2f2;
border: none;
}

.calendar{
	position: absolute;
	z-index: 2;
}

.calendar-check-in{
	top: 5px;
	left: 425px;
}

.calendar-check-out{
	top: 5px;
	left: 425px;
}

.adult .button-add{
	position: absolute;
	z-index: 3;
	left: 180px;
	top: 190px;
}

.button-find{
	display: block;
	margin: 70px 57px;
	margin-bottom: 58px;
	padding: 15px 0;
	padding-left: 4px;
	width: 463px;
	
}

.main-footer {
	position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.9);
  
  margin: 0 auto;
  margin-top: -120px; 
  padding-top: 30px;
  height: 120px;
  width: 1200px;
  box-sizing: border-box;
}

.main-footer.inner{
	position: relative;
	margin: 0;
}

.hashtag p{
	margin: 0;
	width: 270px;
	padding-left: 130px;
	/*padding-top: 8px;*/
}

.footer-hashtag a {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000
}

.footer-social ul {
	margin: 0;
	padding: 0;
	
  width: 400px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer-social li{
	width: 47px;
	height: 47px;
	background-color: #81b3d2;
	margin-right: 5px;
	margin-bottom: 20px;
	position: relative;
}

/*надо нормально отцентровать*/
.social-button img{
	/*margin-left: 15px;
	margin-top: 15px;*/
	position: absolute;
top: 50%;
left: 50%;

transform: translate(-50%, -50%)
}

.copyright{
	width: 290px;
	padding-left: 110px;
}
.copyright p{
	margin: 0;
}

.footer-copyright b{
	font-weight: normal;
}

.button-copyright {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	background: #ffffff url(../img/index-logo-name.svg) 0 0 no-repeat;
	width: 150px;
	height: 50px;
	margin: 0 8px;
}
/*.button-copyright:hover,
.button-copyright:focus{
	/*не работает этот фокус
	color: blue;
	background: url(../img/index-logo-name-hover.svg) 0 0 no-repeat;
}*/