body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
  /*background-image: url("../img/index-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;*/
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.visually-hidden:not(:focus):not(:active){
	position: absolute;
	
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;
	
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  outline: 1px solid red;
}

.welcome > img:nth-child(2){
	position: absolute;
	margin: 0 auto;
	top: 130px;
	left: 410px;
}

.welcome > img:last-child{
	position: absolute;
	margin: 0 auto;
	top: 470px;
	left: 32px;
}

.inner-page {
  text-align: left;
}
/*c main h1 и h2 будут считаться глобальными стилями ?*/
main h1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  height: 100px;
  width: 441px;
  vertical-align: center;
  margin: 0 auto;
  padding-top: 20px;
}

main h2 {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
  text-align: center;
  height: 55px;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
}

.main-header-logo{
	position: absolute;
	margin: 0 auto;
	/*даун забыл, как отцентровать*/
	left: 570px;
}

.site-navigation {
	padding: 0;
	margin: 0;
	
	padding-left: 70px;
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.site-navigation > li{
	width: 200px;
}

.site-navigation > li:nth-child(2){
	margin-right: 200px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover, .site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.2;
}

/*зачем вообще visually-hidden заголовки*/

/* h2 .visually-hidden{
	display: none;
} */

/*--- Стили главной страницы ---*/

.features-with-photos {
  display: flex;
  background-color: #81b3d2;
  
  height: 256px;
}

.features-with-photos h2 {
  text-align: inherit;
}

.features-item-description {
  width: 400px;
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 40px;
}

.features-item-description h2 {
  margin: 0;
  font-size: 21px;
  color: #ffffff;
  font-weight: bold;
  width: 150px;
  padding-left: 65px;
  padding-bottom: 20px;
}

.features-item-description span, .features-item-description p {
  color: #ffffff;
  font-weight: normal;
  line-height: 1;
  /*из макета в фотошопе не могу достать высоту строки, в стайлгайде тоже нет*/
}

.features-item-photo {
  width: 800px;
}

.gallery-content{
	margin: 0;
}

.subfeatures-list {
	padding: 0;
	margin: 0;
  display: flex;
  list-style: none;
  
  margin-bottom: 65px;
}

.subfeature-item {
  background-color: #ffffff;
 
  width: 400px;
  padding-top: 50px;
}

.subfeature-item h2 {
	margin: 0;
  font-size: 21px;
  text-align: center;
  color: #000000;
  font-weight: bold;
  padding-top: 25px;
}

.subfeature-item p {
	margin: 0;
  font-size: 14px;
  text-align: center;
  color: #333333;
  font-weight: normal;
  
  width: 255px;
  padding-left: 70px;
}

.rest-of-features-list {
	margin: 0;
	padding: 0; 
	
	display: flex;
	list-style: none;
}

.rest-of-features-item {
	padding-top: 60px;
	background-color: #eeeeee;
	width: 400px;
}

.rest-of-features-item-description h2 {
	width: 125px;
	margin: 0 auto;
  text-align: center;
  font-size: 21px;
  color: #000000;
  font-weight: bold;
}
/*это span не центруется, почему ?*/
.rest-of-features-item-description span{
	margin: 0 auto;
}
.rest-of-features-item-description p{
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 60px;
	
	width: 220px;
  /*для спана выравнивание не работает, почему ?*/
  text-align: center;
  font-size: 14px;
  color: #333333;
  font-weight: normal;
}

.booking {
  background-color: #ffffff;
 
}

.booking h2 {
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  margin: 0 auto;
  margin-top: 60px;
}

.booking-info {
  text-align: center;
  font-size: 14px;
  color: #333333;
  font-weight: normal;
  margin: 0 auto;
  width: 440px;
}

.booking form{
	margin: 0 auto;
}

.booking-form-header a {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
}

.booking-form-header a:hover {
  background-color: #604e43;
}

.booking-form-header a:active {
  opacity: 0.5;
  /*тут сомневаюсь*/
}

.booking-item label {
  color: #000000;
}

.booking-item input {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #000000;
}

.booking-item input:hover {
  background-color: #ebebeb;
}

.booking-item input:focus {
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
}

.button {
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  background-color: #81b3d2;
  border: none;
}

.button:hover {
  background-color: #669ec0;
}

.button:focus {
  background-color: #5496bd;
  opacity: 0.5;
}

/* --- Стили внутренней страницы ---*/

.filter{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	
	position: absolute;
	top: 85px;
	left: 111px;
	
	width: 1055px;
}

.price{
	display: flex;
	flex-direction: column;
}

.price > * {
	height: 40px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  
  width: 350px;
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff; 
}

.filter ul {
  list-style: none;
  line-height: 18px;
}

.filter li{
	color: #ffffff; 
}

label{
	color: #ffffff;
}
/*вот это дело не работает*/

.filter-input:hover+label, .filter-input:focus+label {
  color: #000000;
}

.filter-input:disabled+label {
  color: #000000;
  opacity: 0.5;
}

.filter-button {
  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter-button:hover {
  color: #000000;
  background-color: #ffffff;
  font-weight: normal;
  font-size: 14px;
}

.result-filter{
	padding: 0;
	margin: 0;
	
	margin-left: 111px;
	padding-top: 30px;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	/*иначе как этим маргином не выход отлепить флекс-элементы от правого края контейнера*/
	/*видимо, надо поколдовать с justify-content или align-items, но у меня не получилось магии*/
}

.result-filter h1{
	padding: 0;
	margin: 0; 
	
	width: 230px;
	margin-right: 40px;
	text-align: left;
}


.result-filter h2{
	padding: 0;
	margin: 0;
	
	margin-right: 40px;
	width: 90px;
}

.sequencing-attribute-list {
	padding: 0;
	margin: 0;
	
	display: flex;
	list-style: none;
	width: 100%;
}

.sequencing-attribute-list-item{
	width: 90px;
}

.sequencing-attribute-list-item a {
  color: #000000;
  opacity: 0.5;
  border-bottom: 1px dashed #81b3d2;
}

.sequencing-attribute-list-item a:hover {
  color: #81b3d2;
  opacity: 1;
}

.sequencing-attribute-list-item a:active {
  border-bottom: none;
  color: #000000;
  opacity: 1;
}

.sequencing-item a {
  color: #000000;
  opacity: 0.5;
}

.sequencing-item a:hover {
  color: #000000;
  opacity: 1;
}

.sequencing-item a:active {
  color: #81b3d2;
}

.sequencing-list {
	padding: 0;
	margin: 0;
	
	display: flex;
  list-style: none;
}

.sequencing-item{
	width: 40px;
}

.catalog-list {
	padding: 0;
	margin: 0;
	
	display: flex;
	flex-direction: column;
  list-style: none;
}

.catalog-item{
	height: 150px;
	outline: 1px dashed red;
	
	margin-left: 111px;
	
	display: flex;
	justify-content: space-between;
}

.catalog-item-image{
	margin: 0;
	
	padding-top: 30px;
	padding-bottom: 30px;
	
	width: 135px;
}

.catalog-item-info{
	width: 100%;
	margin-left: 30px;
	
	outline: 1px dashed red;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}

.catalog-item-info > * {
	/*height: 50px;*/
	outline: 1px dashed red;
}


.catalog-item-name{
	margin: 0;
	height: 46px;
	text-align: left;
	
	padding-top: 25px;
}

.catalog-item-name a {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

.catalog-item-name a:hover {
  color: #81b3d2;
}

.catalog-item-name a:active {
  color: #000000;
  opacity: 0.5;
}

.catalog-item-type-price{	
	display: flex;
	justify-content: flex-start;
	
	height: 100px;
}

.catalog-item-type-price h2{
	margin: 0;
	padding-top: 15px;
	padding-right: 45px;
	font-size: 14px;
}

.catalog-item-type-price span{
	padding-top: 18px;
}

.catalog-item-buttons{
	padding-top: 3px;
	height: 100%;
}

.catalog-item-buttons .button{
	width: 110px;
}

.more-info {
  color: #ffffff;
  background-color: #81b3d2;
  padding-right: 5px;
  /*при попытке уменьшить текст внутри кнопки, вся кнопка уменьшается в размерах*/
  /*font-size: 14px;*/
}

.more-info:hover {
  background-color: #669ec0;
}

.more-info:active {
  background-color: #5496bd;
}

.book {
  background-color: #766357;
  color: #ffffff;
}

.book:hover {
  background-color: #604e43;
}

.book:active {
  /*background-color: #503e33;*/
  /*как сделать прозрачность только для текста, а не для кнопки в целом ? нужен отдельный класс*/
  background-color: rgba(80, 62, 51, 0.5);
}

.rating{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	
	height: 50px;
	width: 120px;
}

.rating img{
	padding-top: 30px;
}

.rate{
	margin: 0;
	padding-top: 45px;
	background-color: f2f2f2; /*не могу задать цвет фона для рейтинга, хотя вроде как применяю свойство к контейнеру*/
}

.booking-info{
	margin-bottom: 140px;
}

.booking-form-header{
	position: absolute;
	top: 2050px;
	left: 350px;		
}

.booking-form-header a{
	padding: 30px 140px;
}

.booking-form{
	z-index: 1;
	position: absolute;
	top: 2120px;
	left: 350px;
	
	width: 573px;
	background-color: #ffffff;
}

.booking-item{
	margin-left: 55px;
}

.booking-item:first-child{
	margin-top: 55px;
}

.booking-item label{
	font-weight: bold;
	margin-right: 17px;
}

.booking-item input:first-child{
	margin-left: 2px;
}

/*этот прием не работает, а жаль*/
/*.booking-item label:first-child{
	margin-right: 2px;
}*/

input[type="date"]{
	height: 40px;
	width: 345px;
	padding-left: 10px;
}

input[type="number"]{
	margin: 0;
	height: 40px;
	width: 65px;
	padding-left: 50px;
}

.adult-and-children{
	display: flex;
}

.adult-and-children > .booking-item{
	margin: 0;
}

.adult-and-children > .booking-item{
	margin-left: 55px;
}

.adult-and-children > .booking-item:first-child label{
	margin-right: 35px;
}

.adult-and-children > .booking-item:last-child label{
	margin-right: 27px;
}

.button-find{
	display: block;
	margin: 50px 55px;
	padding: 15px 0;
	width: 463px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  color: #000000;
  background-color: #ffffff;
  
  margin: 0 auto;
  padding-top: 30px;
}


.hashtag p{
	margin: 0;
	width: 400px;
	
	padding-left: 130px;
}

.footer-hashtag a {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000
}

.footer-social ul {
	margin: 0;
	padding: 0;
	
  width: 200px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer-social li{
	width: 47px;
	height: 47px;
	background-color: #81b3d2;
	margin-right: 5px;
	margin-bottom: 20px;
}

.social-button img{
	position: relative;
}

.copyright{
	width: 400px;
	padding-left: 300px;
}
.copyright p{
	margin: 0;
}
/*не знаю, как стилизовать кнопку копирайта, ведь это картинка. как раскрасить картинку ?*/

.button-copyright {
	/*пока не разобралась, тэг <svg> не работает в html*/
	fill: #81b3d2;
}
