body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
  /*background-image: url("../img/index-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;*/
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.container {
  width: 1200px;
  margin: 0 auto;
  outline: 1px solid red;
}

.welcome > img:last-child{
	position: absolute;
	margin: 0 auto;
	top: 130px;
	left: 410px;
}

.inner-page {
  text-align: left;
}
/*c main h1 и h2 будут считаться глобальными стилями ?*/
main h1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  height: 100px;
  width: 441px;
  vertical-align: center;
  margin: 0 auto;
  padding-top: 20px;
}

main h2 {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
  text-align: center;
  height: 55px;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
}

.main-header-logo{
	position: absolute;
	margin: 0 auto;
	/*даун забыл, как отцентровать*/
	left: 570px;
}

.site-navigation {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.site-navigation > li{
	width: 200px;
}

.site-navigation > li:nth-child(2){
	margin-right: 200px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover, .site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.2;
}

.features-with-photos {
  display: flex;
  background-color: #81b3d2;
}

.features-with-photos h2 {
  text-align: inherit;
}

.features-item-description {
  width: 400px;
  text-align: center;
}

.features-item-description h2 {
  font-size: 21px;
  color: #ffffff;
  font-weight: bold;
}

.features-item-description span, .features-item-description p {
  color: #ffffff;
  font-weight: normal;
  line-height: 1;
  /*из макета в фотошопе не могу достать высоту строки, в стайлгайде тоже нет*/
}

.features-item-photo {
  width: 800px;
}

.subfeatures-list {
  display: flex;
  list-style: none;
}

.subfeature-item {
  background-color: #ffffff;
 
  width: 400px;
}

.subfeature-item h2 {
  font-size: 21px;
  text-align: center;
  color: #000000;
  font-weight: bold;
}

.subfeature-item p {
  font-size: 14px;
  text-align: center;
  color: #333333;
  font-weight: normal;
}

.rest-of-features-list {
	display: flex;
	list-style: none;
}

.rest-of-features-item {
	background-color: #eeeeee;
	width: 400px;
}

.rest-of-features-item-description h2 {
  text-align: center;
  font-size: 21px;
  color: #000000;
  font-weight: bold;
}

.rest-of-features-item-description p, .rest-of-features-item-description span {
  /*для спана выравнивание не работает, почему ?*/
  text-align: center;
  font-size: 14px;
  color: #333333;
  font-weight: normal;
}

.booking {
  background-color: #ffffff;
 
}

.booking h2 {
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  margin: 0 auto;
}

.booking-info {
  text-align: center;
  font-size: 14px;
  color: #333333;
  font-weight: normal;
  margin: 0 auto;
}

.booking form{
	margin: 0 auto;
}

.booking-form-header a {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
}

.booking-form-header a:hover {
  background-color: #604e43;
}

.booking-form-header a:active {
  opacity: 0.5;
  /*тут сомневаюсь*/
}

.booking-item label {
  color: #000000;
}

.booking-item input {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #000000;
}

.booking-item input:hover {
  background-color: #ebebeb;
}

.booking-item input:focus {
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
}

.button {
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  background-color: #81b3d2;
  border: none;
}

.button:hover {
  background-color: #669ec0;
}

.button:focus {
  background-color: #5496bd;
  opacity: 0.5;
}

.filter{
	display: flex;
	justify-content: space-between;
	
	position: absolute;
	top: 117px;
	left: 111px;
}

.price{
	display: flex;
	flex-direction: column;
}

.price > * {
	height: 40px;
}

.filter fieldset {
  width: 350px;
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  /*color: #ffffff; */
}

.filter ul {
  list-style: none;
  line-height: 18px;
}


/*вот это дело не работает*/

.filter-input:hover+label, .filter-input:focus+label {
  color: #000000;
}

.filter-input:disabled+label {
  color: #000000;
  opacity: 0.5;
}

.filter-button {
  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter-button:hover {
  color: #000000;
  background-color: #ffffff;
  font-weight: normal;
  font-size: 14px;
}

.result-filter{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	/*иначе как этим маргином не выход отлепить флекс-элементы от правого края контейнера*/
	/*видимо, надо поколдовать с justify-content или align-items, но у меня не получилось магии*/
	margin-right: 150px;
}

.result-filter h1{
	width: 240px;
}

.sequencing-attribute-list {
	display: flex;
	list-style: none;
}

.sequencing-attribute-list-item{
	width: 90px;
}

.sequencing-attribute-list-item a {
  color: #000000;
  opacity: 0.5;
  border-bottom: 1px dashed #81b3d2;
}

.sequencing-attribute-list-item a:hover {
  color: #81b3d2;
  opacity: 1;
}

.sequencing-attribute-list-item a:active {
  border-bottom: none;
  color: #000000;
  opacity: 1;
}

.sequencing-item a {
  color: #000000;
  opacity: 0.5;
}

.sequencing-item a:hover {
  color: #000000;
  opacity: 1;
}

.sequencing-item a:active {
  color: #81b3d2;
}

.sequencing-list {
	display: flex;
  list-style: none;
}

.sequencing-item{
	width: 40px;
}

.catalog-list {
	display: flex;
	flex-direction: column;
  list-style: none;
}

.catalog-item{
	height: 150px;
	outline: 1px dashed red;
	
	display: flex;
	justify-content: space-between;
}

.catalog-item-info{
	outline: 1px dashed red;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}

.catalog-item-info > * {
	height: 50px;
	outline: 1px dashed red;
}

.catalog-item-type-price{
	display: flex;
	justify-content: space-between;
}

.catalog-item-name a {
  text-decoration: none;
  color: #000000;
}

.catalog-item-name a:hover {
  color: #81b3d2;
}

.catalog-item-name a:active {
  color: #000000;
  opacity: 0.5;
}

.more-info {
  color: #ffffff;
  background-color: #81b3d2;
}

.more-info:hover {
  background-color: #669ec0;
}

.more-info:active {
  background-color: #5496bd;
}

.book {
  background-color: #766357;
  color: #ffffff;
}

.book:hover {
  background-color: #604e43;
}

.book:active {
  /*background-color: #503e33;*/
  /*как сделать прозрачность только для текста, а не для кнопки в целом ? нужен отдельный класс*/
  background-color: rgba(80, 62, 51, 0.5);
}

.rate{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.rate > *{
	height: 50px;
}

.main-footer {
  display: flex;
  color: #000000;
  background-color: #ffffff;
  
  margin: 0 auto;
}

.hashtag{
	width: 400px;
}

.footer-hashtag a {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000
}

.footer-social ul {
  width: 400px;
  list-style: none;
}

.social-button {
  color: #000000;
}


.copyright{
	width: 400px;
}

/*не знаю, как стилизовать кнопку копирайта, ведь это картинка. как раскрасить картинку ?*/

.button-copyright {
	/*пока не разобралась, тэг <svg> не работает в html*/
	fill: #81b3d2;
}
